img {
    height: 300px; 
    width: 300px;
    border-radius: 50%; 
    position: relative;
} 

#background1{
    background-image: url(https://th.bing.com/th/id/OIP.Zo3gRXBrPtXf-pKzuQ3C9AHaEK?w=270&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
}